@charset "UTF-8";
body {
    background:none repeat scroll 0 0 #FFFFFF;
    border:0 none;
}

#container {
    width: 800px;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 7%;
    text-align: left;  
}

/**************************
****** INSTRUCTIONS *******
***************************/
#ppInfoForm{
    position: absolute;
    left:40%;
    top:40%;
}

#ppInfoForm table{  
    border-spacing: 10px;   
}

.okButton {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.1));
    border-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.5);
    border-image: none;
    border-radius: 0.3em;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0.08em 0 rgba(255, 255, 255, 0.7) inset, 0 0 0.08em rgba(255, 255, 255, 0.5) inset;
    color: #312c2a;
    cursor: pointer;
    display: inline-block;
    font: bold 100%/2.1 "Lucida Grande",Tahoma,sans-serif;
    margin-top: 50px;
    padding: 0 1em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

#okButtonRow {
    text-align: center;
}



/**************************
****** ASSOCIATIONS *******
***************************/
#experiment {
    color: #454445;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    padding: 15px;
    margin-top: 5%;
}

#cue {
    font-family: Georgia;
    font-size: 2.5em;
    font-weight: 700;
    padding-bottom: 20px;
}

.response {
    color: #c8c6cc;
    font-family: Georgia;
    margin-bottom: 5px;
    margin-top: 0;
    padding-bottom: 10px;
    font-size: 1.4em;
    line-height: 40px;
}

#errorMessage {
    padding-bottom: 10px;
    color: #a94442;
}

.form-group {
    margin-bottom: 15px;
    padding-bottom: 14px;
}

#assoResponse {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 0px 6px 0px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    margin: 0;
}

#submitAssoButton {
    min-width: 185px;
    font-weight: bolder;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
     -moz-user-select: none;
    background-image: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-family: inherit;
    text-transform: none;
    overflow: visible;
    box-sizing: border-box;    
    margin-left: 20px ;
    margin-right: auto ;

}

/************************
********* IAT ***********
*************************/

#experiment_frame
{
    margin-left: auto;
    margin-right: auto;
    width:500px;
    height: 500px;
    border: solid black 1px;
}

#header
{
	height: 120px;
}

#left_cat
{
	font-size: 1.5em;
	margin: 15px;
	float: left;
}

#right_cat
{
	font-size: 1.5em;
	margin: 15px;
	float: right;
}

#exp_instruct
{
    margin: 15px;
}

#under_instruct
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 600px;
}

.itemdiv
{
	margin-left: auto;
	margin-right: auto;
}

.IATitem
{
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	display: none;
}

#word {
	width: 100px;
	max-height: 115px;
	text-align: center;
	padding-top: 85px;
}
#wrong
{
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	display: none;
}